<div id="top-bar">
    <div class="logo">
        <img src="<%= locals.randomAvatar %>" alt="">
        <h1>Hi <%= locals.userName %>!</h1>
    </div>
</div>


<div id="side-bar">
    <div id="nav-brandlist">
        <div class="logo"><img src="Assets/Logo.svg" alt="">
            <h1>Teama Blogato</h1>
        </div>
        <div class="nav-buttons-container">
            <a href="/home"><button class="nav-buttons"><img src="Assets/Home.svg" alt="">
                <h3>Home</h3>
            </button></a>
          <a href="/posts"><button class="nav-buttons" id="posts-button"><img src="Assets/Posts.svg" alt="">
                <h3>Posts</h3> 
            </button></a>
            <button class="nav-buttons"><img src="Assets/Media.svg" alt="">
                <h3>Media</h3>
            </button>
            <button class="nav-buttons"><img src="Assets/Pages.svg" alt="">
                <h3>Pages</h3>
            </button>
            <button class="nav-buttons"><img src="Assets/Comments.svg" alt="">
                <h3>Comments</h3>
            </button>
            <button class="nav-buttons"><img src="Assets/Appearance.png" alt="">
                <h3>Appearance</h3>
            </button>
            <button class="nav-buttons"><img src="Assets/Plugins.svg" alt="">
                <h3>Plugins</h3>
            </button>
            <button class="nav-buttons"><img src="Assets/Users.svg" alt="">
                <h3>Users</h3>
            </button>
            <button class="nav-buttons"><img src="Assets/Settings.png" alt="">
                <h3>Settings</h3>
            </button>
            <button class="nav-buttons"><img src="Assets/Tools.svg" alt="">
                <h3>Tools</h3>
            </button>
        </div>
    </div>


</div>
<div></div>
